html
  head
    title= title
    meta(http-equiv='refresh' content='5')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  body
    .container
      .header.clearfix
        img(style={'height': '70px', 'margin-top': '15px'}, src='https://www.openservicebrokerapi.org/wp-content/uploads/2016/12/osbapi_logo_concept3_wtm.png', alt='Open Service Broker API')
        h3 #{title}
      p
        small.text-muted This page refreshes automatically
      if !Object.keys(serviceInstances).length
        p.text-warning No services running
      else
        p.text-primary #{Object.keys(serviceInstances).length} service(s) running
      div.col-xs-12.col-sm-6
        div.panel.panel-info
          div.panel-heading
            h3.panel-title Last Request
          div.panel-body
            pre(style={'background': 'none', 'border': 'none'}) #{JSON.stringify(lastRequest, null, 2)}
      div.col-xs-12.col-sm-6
        div.panel.panel-info
          div.panel-heading
            h3.panel-title Last Response
          div.panel-body
            pre(style={'background': 'none', 'border': 'none'}) #{JSON.stringify(lastResponse, null, 2)}
      div.clearfix
      if Object.keys(serviceInstances).length
        - var a = 0
        each serviceData, serviceKey in serviceInstances
          div.col-xs-12.col-sm-6
            div.panel.panel-primary
              div.panel-heading
                h3.panel-title #{serviceKey}
              div.panel-body
                sub Created #{serviceData.timestamp}
                p
                pre(style={'background': 'none', 'border': 'none'}) #{JSON.stringify(serviceData, null, 2)}
                div(style={'float': 'right', 'height': '50px'})
                  if serviceData.context.platform == 'kubernetes'
                    img(style={'height': '50px'}, src='../images/kubernetes.png', alt='Kubernetes')
                  else
                    img(style={'height': '50px'}, src='../images/cloudfoundry.png', alt='Cloud Foundry')
            - a+=1
          if (a % 2) == 0
            div.clearfix

