html
  head
    title= title
    style
      include style.css
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css')
  body
    .container
      .header.clearfix(style={'margin-top': '15px'})
        div.col-xs-12
          img.spin(src='../images/openservicebrokerapi-logo.png', alt='Open Service Broker API Logo')
          img(src='../images/openservicebrokerapi-text.png', alt='Open Service Broker API')
        div.col-xs-12.col-sm-6
          h3 #{title}
        div.col-xs-12.col-sm-6(style={'padding-top': '18px'})
          span.pull-right
            button.btn.btn-danger(style={'margin-right': '5px'}, onclick='cleanData()') Clean
            button.btn.btn-default(onclick='refreshPage()') Refresh
      div.col-xs-12
        mixin persistenceLabel
          span.label.label-primary(style={'margin-left': '5px'}) persistence #{ persistenceMode ? 'enabled' : 'disabled' }
        if !Object.keys(serviceInstances).length
          p.text-primary No services running #[+persistenceLabel]
        else
          p.text-primary #{Object.keys(serviceInstances).length} service(s) running #[+persistenceLabel]
      div.col-xs-12
        div.panel.panel-info
          div.panel-heading
            h3.panel-title
              a(data-toggle='collapse', href='#catalog') Edit catalog
          div#catalog.panel-body.panel-collapse.collapse(style={'padding': '0px'})
            textarea(style={'background': '#002833', 'color': '#45D40C', 'font': '14px "Courier New";', 'line-height': '1.6em', 'padding': '15px', 'border': 'none', 'height': '800px', 'width': '100%' }) #{JSON.stringify(catalog, null, 2)}
            button.btn.btn-default(style={'width': '100%', 'border-radius': '0px', 'color': 'white', 'background-color': '#f19600'}, onclick='updateCatalog()') Save
      div.col-xs-12.col-sm-6
        div.panel.panel-info
          div.panel-heading
            h3.panel-title
              a(data-toggle='collapse', href='#request') Last Request
          div#request.panel-body.panel-collapse.collapse
            pre(style={'background': 'none', 'border': 'none', 'height': '400px'}) #{JSON.stringify(lastRequest, null, 2)}
      div.col-xs-12.col-sm-6
        div.panel.panel-info
          div.panel-heading
            h3.panel-title
              a(data-toggle='collapse', href='#response') Last Response
          div#response.panel-body.panel-collapse.collapse
            pre(style={'background': 'none', 'border': 'none', 'height': '400px'}) #{JSON.stringify(lastResponse, null, 2)}
      div.clearfix
      if Object.keys(serviceInstances).length
        - var a = 0
        each serviceData, serviceKey in serviceInstances
          div.col-xs-12.col-sm-6
            div.panel.panel-primary
              div.panel-heading(class=`${serviceData.parameters.rainbow ? "rainbow" : ""}`)
                if serviceData.parameters.name
                  h3.panel-title #{serviceData.parameters.name}
                else
                  h3.panel-title #{serviceKey}
              div.panel-body
                sub Created #{serviceData.created}
                if serviceData.last_update
                  sub Last Update #{serviceData.last_update}
                p
                  -
                    var serviceDataToDisplay = JSON.parse(JSON.stringify(serviceData))
                    JSON.stringify(serviceDataToDisplay)
                    delete serviceDataToDisplay['created']
                    delete serviceDataToDisplay['last_updated']
                  pre(style={'background': 'none', 'border': 'none'}) #{JSON.stringify(serviceDataToDisplay, null, 2)}
                  div(style={'float': 'right', 'height': '50px'})
                    if serviceDataToDisplay.context != null && serviceDataToDisplay.context.platform == 'kubernetes'
                      img(src='../images/kubernetes.png', alt='Kubernetes')
                    else
                      img(src='../images/cloudfoundry.png', alt='Cloud Foundry')
            - a+=1
          if (a % 2) == 0
            div.clearfix

    include githubcorners.html

    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert-dev.min.js')
    script
      include helpers.js
